:root {
  --white: #fff;
  --gray-700: #767676;
  --gray: #d9d9d9;
  --red: #e74c3c;
  --blue: #2980b9;
  --main: #4fc08d;

  font-size: 10px;
  font-family: "SUIT", sans-serif;
  background-color: var(--main);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

* {
  box-sizing: border-box;
}

body,
button,
ul,
li,
table,
th,
td {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

table {
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

body {
  height: 100vh;
}

button {
  border: none;
  background-color: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

[class^="btn"] {
  padding: 8px 25px;
  color: var(--main);
  background-color: var(--white);
  border: 1px solid;
  border-radius: 3em;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

[class^="btn"]:hover,
[class^="btn"]:active {
  color: var(--white);
  background-color: var(--main);
}

.toastui-editor-contents,
.ProseMirror {
  font-size: 1.6rem;
}
