/* layout */
main {
  height: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 3fr;
  grid-template-areas:
    "calendar editor"
    "display editor";
  padding: 28px 35px;
  gap: 18px 22px;
}

#memo-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editor,
.calendar,
.display {
  background-color: var(--white);
  border-radius: 1.4rem;
}

.editor {
  grid-area: editor;
  padding: 22px;
}

.calendar {
  grid-area: calendar;
  padding: 16px;
}

.display {
  grid-area: display;
  position: relative;
  padding: 16px 6px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.display::before {
  content: "";
  position: absolute;
  border-top: 0 solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 14px solid var(--white);
  top: -12px;
  right: 48px;
}

/* input */
.inp-title {
  border: 1px solid var(--gray);
  font-size: 2rem;
  height: 50px;
  padding: 0 10px;
}

.inp-title:focus {
  outline: 2px solid var(--main);
}

/* button */
.btn-add {
  width: 100px;
  align-self: flex-end;
}

.btn-del {
  display: block;
  margin-left: auto;
}

/* dates */
.display-date {
  display: flex;
  gap: 5px;
}

.display-date .date {
  font-size: 2.4rem;
}

.display-date .day {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--gray-700);
  align-self: flex-end;
}

/* display */
.display h3 {
  font-size: 2rem;
  margin-top: 1em;
}

.display p {
  font-size: 1.6rem;
  word-wrap: break-word;
  word-break: break-all;
}

.display button {
  font-size: 1.2rem;
}

/* memo list */
#memo-list {
  overflow: scroll;
  overflow-x: hidden;
}

#memo-list::-webkit-scrollbar {
  width: 8px;
}

#memo-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: var(--main);
  border-radius: 30px;
}

#memo-list::-webkit-scrollbar-track {
  background-color: var(--gray);
  border-radius: 30px;
}

#memo-list li {
  margin-right: 10px;
}

/* calendar */
th:first-child,
td:first-child {
  color: var(--red);
}

th:last-child,
td:last-child {
  color: var(--blue);
}

th {
  font-weight: normal;
  padding: 10px;
}

td {
  padding: 15px 20px 25px 20px;
  cursor: pointer;
}

td.today {
  background-color: var(--main);
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
}

td.not-curMonth {
  color: var(--gray);
  pointer-events: none;
}

td.current-date {
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px var(--main);
  color: var(--main);
  font-weight: bold;
}

#calendar-content {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 1.6rem;
}

#calendar-content caption {
  font-size: 2rem;
  margin-bottom: 10px;
}

#calendar-year-month {
  padding: 0 10px;
  letter-spacing: 0.2rem;
}

.calendar-button-prev,
.calendar-button-next {
  font-size: inherit;
  background-color: transparent;
  color: var(--gray-700);
}

td::after {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
}

.mark::after {
  content: "";
  display: block;
  margin: 0px auto;
  background-color: var(--orange);
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
}
